.no-scroll {
    overflow: hidden;
  }
.page-splash {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }